{% extends "base.html" %} {% block title %}500 Internal Server Error{% endblock
%} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/errors.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="error-code">500</div>
  <div class="error-message">Internal Server Error</div>
  {% if message %}
  <p>{{ message }}</p>
  {% else %}
  <p>Something went wrong on our end.</p>
  {% endif %}
  <a class="back-home" href="{{ '/' }}">Return Home</a>
</div>
{% endblock %}
